<div class="container">
Here's all of your logged dreams:<br>
<br>
<% @dreams.each do |dream| %>
<a href="/<%= dream.user.username %>/dreams/<%= dream.id %>"><%= dream.title %></a><br>
<% end %>
</div>