<div class="container">
Log a new dream! Relax, and type down whatever you can remember from your most recent dream! Even logging "I couldn't remember anything" is better than nothing! Your brain will start to understand that you want to remember you dreams just from taking the time to type it out!

(P.S, you really should come up with a good title for your dream, helps make it something more real for you).
<!-- This is a hacky fix, but...I'll fix it later. -->
<form action="/<%= session[:username] %>/dreams/new_dream" method="POST">
Title:<br>
<input type="text" name="dream[title]"><br>
Date:<br>
<input type="date" name="dream[dream_date]"><br>
Description:<br>
<textarea name="dream[description]"></textarea><br>
<label for="words">Key Words (Any important words, concepts, emotions that showed up in your dream, list them here, and follow each word with a comma!):</label>
<input name="words" value="word">
<input type="submit" value="Submit Your Dream!">
</form>
</div>