<div class="container">
Good morning (Evening? Whatever you're into, bro.)!!! Let's get this dream out of your head before you forget! Let's do this! (P.S, you really should come up with a good title for your dream, helps make it something more real for you).
<!-- This is a hacky fix, but...I'll fix it later. -->
<form action="/<%= session[:username] %>/dreams/new_dream" method="POST">
Title:<br>
<input type="text" name="dream[title]"><br>
Date:<br>
<input type="date" name="dream[dream_date]"><br>
Description:<br>
<textarea name="dream[description]"></textarea><br>
<input type="submit" value="Submit Your Dream!">
</form>
</div>