<div class="container">
Welcome to your Home Page!<br>
<a href="/<%= session[:username] %>/profile">Check out your profile!</a><br>
<a href="/<%= session[:username] %>/dreams/new_dream">Log A Dream!</a><br>
<a href="/<%= session[:username] %>/symbols">Your Symbols!</a><br>
<a href="/<%= session[:username] %>/dreams/all">Your Dreams!</a><br>
</div>