<div class="container">
<h2>ERRORS</h2>
<ol>
<% errors.each do |attr, error_msg| %>
  <li><%= attr %> <%= error_msg.join(", ") %>, fool</li>
<% end %>
<% if errors.count >= 3 %>
  <p>Get it together dude. You even trying to log on to my badass app?</p>
<% end %>
</ol>
</div>