<div class="container">
  <p>It was fun while it lasted! I'm sorry that you felt that Dream Catcher wasn't for you!

  Your User Account has been deleted, and so have your dreams so that no one can get to them and incept you or something!

  Peace be the journey!</p>
  <a href="/">Return To Welcome Page</a>
</div>