<div class="container">
  <h1>GET YOU SOME! WELCOME TO DREAM CATCHER!!</h1>
  <p>Dream Catcher is a web app made to help people keep better track of their dreams and what they find on that plane. It also has features to help you connect with people who find the same things in their dream world as you do! What are you waiting for? Sign up and find out what's going on inside of you at night!</p>
</div>
<div class = "login_container">
<h3>Sign in with your account!</h3>
  <form class="login" action="/users/login" method="POST">
    Username:<br>
    <input type="text" name="user[username]"><br>
    Password:<br>
    <input type="password" name="user[password]"><br>
    <input class="login_submit" type="submit" value="Login!">
  </form>


<h3>Don't have an account? Sign up right here!</h3>
  <form class="signup" action="/users/signup" method="POST">
    Username:<br>
    <input type="text" name="user[username]"><br>
    Email Address:<br>
    <input type="text" name="user[email]"><br>
    Password:<br>
    <input type="password" name="user[password]"><br>
    Confirm Password:<br>
    <input type="password" name="user[password_confirmation]"><br>
    <input type="submit" value="Create Account!">
  </form>
</div>
